body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  /* fix */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* fix */
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /* fix */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  /* fix */
  flex-shrink: 0;
  padding: 16px;
}

/* fix */

ul {
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eee;

}

.card {
  width: 300px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 15px;
}

.contents {
  flex: 1;
  display: flex;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 20px;
}

